.list-recently {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.icon-user-recently {
    width: 44px;
    height: 44px;
}

.recently-user-profile {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100%;
}

.recently-user-profile[title]:hover::after {
    content: attr(title);
    font-size: var(--font-size-5);
    background-color: var(--color-grey-7);
    border-radius: var(--radius-3);
    padding: 4px 8px;
    display: inline-block;
    width: 100px;
    margin-left: -30px;
}

.recently-user-profile:hover {
    border-color: var(--color-grey-7);
}

.user-icon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}